.incident_True {
  fill: red;
}

.incident_False {
  fill: green;
}

.incident_Null {
  fill: white;
}

.data {
  stroke: rgb(0, 88, 94) !important;
  stroke-width: 0.5;
}
.style_svg{
  width: 100%;
  height: 80vh;

}